/* _content/DemoBug/Views/Bugs/Index.cshtml.rz.scp.css */
.styled-table[b-eoukzrby4h] {
    border: medium;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
}

    .styled-table tr:hover[b-eoukzrby4h] {
        box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
        transform: scale(1.05) rotate(0 deg);
    }

    .styled-table thead tr[b-eoukzrby4h] {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th[b-eoukzrby4h],
    .styled-table td[b-eoukzrby4h] {
        padding: 12px 15px;
    }

    .styled-table tbody tr[b-eoukzrby4h] {
        border-bottom: 1px solid rgb(21, 148, 63);
    }

        .styled-table tbody tr:nth-of-type(even)[b-eoukzrby4h] {
            background-color: rgb(4, 70, 71);
        }

        .styled-table tbody tr:last-of-type[b-eoukzrby4h] {
            border-bottom: 2px solid #009879;
        }

        .styled-table tbody tr.active-row[b-eoukzrby4h] {
            font-weight: bold;
            color: #009879;
        }

.button-group[b-eoukzrby4h] {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.action-button-edit[b-eoukzrby4h] {
    margin-left: 5px; 
}

.create-button[b-eoukzrby4h] {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 40px;
}

.create-button:hover[b-eoukzrby4h] {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}
/* _content/DemoBug/Views/Shared/_Layout.cshtml.rz.scp.css */

a.navbar-brand[b-xs38bxpws6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xs38bxpws6] {
  color: #0077cc;
}

.btn-primary[b-xs38bxpws6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xs38bxpws6], .nav-pills .show > .nav-link[b-xs38bxpws6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xs38bxpws6] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xs38bxpws6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xs38bxpws6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xs38bxpws6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xs38bxpws6] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.sidebar[b-xs38bxpws6] {
    width: 250px;
    position: fixed;
    height: 100%;
    background-color: lavender;
    padding: 20px;
    border: medium;
}
    .sidebar:hover[b-xs38bxpws6] {
        box-shadow: rgba(44, 50, 99, 0.7) 0 -25px 18px -14px inset, rgba(44, 50, 50, 0.7) 0 1px 2px, rgba(44, 50, 99, 0.7) 0 2px 6px, rgba(44, 50, 99, 0.7) 0 4px 12px, rgba(44, 50, 99, 0.7) 0 8px 24px, rgba(44, 50, 99, 0.7) 0 16px 48px;
        transform: scale(1.05) rotate(0 deg);
    }

.content[b-xs38bxpws6] {
    margin-left: 250px;
}
/* _content/DemoBug/Views/Users/Index.cshtml.rz.scp.css */
.styled-table[b-zayhdi4dtt] {
    border: medium;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
}

    .styled-table tr:hover[b-zayhdi4dtt] {
        box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
        transform: scale(1.05) rotate(0 deg);
    }

    .styled-table thead tr[b-zayhdi4dtt] {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th[b-zayhdi4dtt],
    .styled-table td[b-zayhdi4dtt] {
        padding: 12px 15px;
        
    }

    .styled-table tbody tr[b-zayhdi4dtt] {
        border-bottom: 1px solid rgb(21, 148, 63);
    }

        .styled-table tbody tr:nth-of-type(even)[b-zayhdi4dtt] {
            background-color: rgb(130, 8, 32);
        }

        .styled-table tbody tr:last-of-type[b-zayhdi4dtt] {
            border-bottom: 2px solid #009879;
        }

        .styled-table tbody tr.active-row[b-zayhdi4dtt] {
            font-weight: bold;
            color: #009879;
        }

.button-group[b-zayhdi4dtt] {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.action-button-edit[b-zayhdi4dtt] {
    margin-left: 5px;
}
